body {
    background-color: rgb(210, 234, 238);
    margin: 0;
    font-family: a;
}

header {
    background: rgb(248, 250, 250);
    padding: 20px;
    text-align: center;
    font-size: 18px;
    border-bottom: 4px solid rgb(45, 172, 189);
}

a.one:link, a.one:visited {
    background-color: rgb(196, 227, 231);
    color: black;
    border: none;
    border-radius: 10%;
    padding: 10px 10px;
    font-size: 25px;
    font-family: cursive;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
 a.one:hover, a.one:active {
    background-color: black;
    color: rgb(45, 172, 189);;
  }

h1 {
    text-align: center;
    color: rgb(10, 10, 10);
}

h2 {
    text-align: center;
    font-family: 'ana';
}

h3 {
    text-align: center;
    font-family: ana;
}

li {
    display: inline-block;
    margin-right: 20px;
}

p {
    text-align: center;
    font-size: 20px;
    padding-left: 180px;
    padding-right: 180px;
    font-family: ananda
}

.mothers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 10px;
}

.mothers img {
    width: 225px;
    height: 225px;
    object-fit: cover;
    box-shadow: 0px 0px 20px 0px black;
    border-radius: 3%;
   }

.lists {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    gap: 6px;
    max-width: 850px;
    margin: 0 auto;
    padding: 5px 5px 25px;
}

.lists img {
    width: 100%;
    max-width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10%;
}

  
.imageblock figure {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    font-family: Helvetica;
    width:  20%;
    margin: 10px;
}

.imageblock {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    gap: 6px;
    max-width: 850px;
    margin: 0 auto;
    padding: 5px 5px;
}

.imageblock figure * {
    border-radius: 5%
}

.info {
    background-color: rgb(248, 250, 250);
    text-align: center;
    font-size: 20px;
    border-top: solid 4px rgb(45, 172, 189);
    border-bottom: solid 4px rgb(45, 172, 189);    
}

.email {
    align-items: center;
    display: flex;
    flex-direction: column;
}

input {
    background-color: rgb(255, 255, 255);
    height: 40px;
    width: 180px;
    border: 1px solid;
}
input::placeholder {
    font-family: cursive;
    height: 30px;
    width: 120px;
}

.button {
    margin: 15px auto 25px auto;
    height: 45px;
    width: 95px;
    font-size: 20px;
    font-family: cursive;
    box-shadow: 0px 0px 10px 0px rgb(80, 156, 167);
}

.button:hover {
    background: black;
    color:rgb(45, 172, 189)
}